/* Declaring custom properties */
:root {
  --potato-height: 325px;
  --potato-width: 325px;
}

* { box-sizing: border-box; }

#playground {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 768px;
  width: 1024px;
  background-color: white;
  border: thin solid none;
}

.hat{
  height: 160px;
  width: 160px;
  background-color: black;
  border-radius: 575px;
  position: absolute;
  left: 120px;
  top: -110px;
  border: 2px green solid;
  z-index: 10;
}

.hat1{
  height: 50px;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  left: 23px;
  top:0px;
  z-index: 10;
}

.head{
  height: 525px;
  width: 400px;
  background-color: #b5560d;
  border-radius: 50%;
  position: absolute;
  left: -35px;
  top: -80px;
  z-index: 3;

}
.ears > .right-ear{
  height: 215px;
  width: 115px;
  background-color: #f8ad8a;
  border-radius: 50%;
  position: absolute;
  right: -100px;
  top: -35px;
  z-index: 2;
}

.ears > .right-ear > .InR{
  height: 150px;
  width: 85px;
  background-color: #ffb7b7;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 1;
}

.ears > .left-ear{
  height: 215px;
  width: 115px;
  background-color: #f8ad8a;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  top: -35px;
  z-index: 2;
}

.ears > .left-ear > .InL{
  height: 150px;
  width: 85px;
  background-color: #ffb7b7;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 25px;
  z-index: 1;
}

.eyes {
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  top: 2em;

}

.eye {
  position: relative;
  height: calc(var(--potato-height) / 3);
  width: calc(var(--potato-width) / 3);
  border-radius: 5em;
  background-color: white;
  border: thin solid black;
  z-index: 10;

/* Standard syntax */
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  /* Standard syntax */
  @keyframes example {
    0%   {background-color:white; left:0px; top:35px;height:0px;}
    25%  {background-color:white; left:0px; top:35px;height:100px;}
    50% {background-color:white; left:0px; top:35px;height:0px;}
    75% {background-color:red; left:0px; top:35px;height:100px;}
    100% {background-color:red; left:0px; top:35px;height:0px;}

}

.pupil {
  height: calc(var(--potato-height) / 7);
  width: calc(var(--potato-width) / 7);
  border-radius: 5em;
  border: thin solid black;
  background-color: black;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  /* Standard syntax */
      animation-name: example2;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    /* Standard syntax */
    @keyframes example2 {
      0%   {background-color:black; left:0px; top:0px;height:0px;}
      25%  {background-color:black; left:0px; top:0px;height:50px;}
      50% {background-color:black; left:0px; top:0px;height:0px;}
      75% {background-color:black; left:0px; top:0px;height:50px;}
      100% {background-color:black; left:0px; top:0px;height:0px;}

  }


}

.left-eye {
  left: 2em;
  float: left;
}

.right-eye {
  right: 2em;
  float: right;
}

.potato {
  /* centramos verticalmente la patata */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* fin centrar verticalmente la patata */
  height: var(--potato-height);
  width: var(--potato-width);

  margin-bottom: 25em;
}

.nose {
  height: 100px;
  width: 150px;
  background-color: #ff0000;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 135px;
  z-index: 10;



}

.Mustache{
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  top: 2em;

}

.moustacheR {
  background-color: black;
  transform: skewY(40deg);
  position: absolute;
  height: 55px;
  width: 75px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: 210px;
  left: 215px;
  z-index: 9;
}

.moustacheM {
  position: absolute;
  height: 40px;
  width: 150px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: 200px;
  left: 100px;
  z-index: 9;
}

.moustacheL {
  background-color: black;
  transform: skewY(-40deg);
  position: absolute;
  height: 55px;
  width: 75px;
  background-color: black;
  border: 2px black solid;
  border-radius:50px;
  top: 205px;
  left: 55px;
  z-index: 9;


}

.Mouth {
  height: 100px;
  width: 210px;
  background-color: #a20000;
  border-radius: 43%;
  position: absolute;
  left: 62px;
  top: 235px;
  z-index: 8;

}

.teethUP > .Up1 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 117px;
  top: 240px;
  z-index: 10;
}

.teethUP > .Up2 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 157px;
  top: 240px;
  z-index: 10;
}

.teethUP > .Up3 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 197px;
  top: 240px;
  z-index: 10;
}

.teethDOWN > .Down1 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 115px;
  bottom:-9px;
  z-index: 10;
}

.teethDOWN > .Down2 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 155px;
  bottom:-9px;
  z-index: 10;
}

.teethDOWN > .Down3 {
  height: 30px;
  width: 30px;
  background-color: white;
  position: absolute;
  left: 195px;
  bottom:-9px;
  z-index: 10;
}

.shoes{
  /* centramos verticalmente los ojos */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* fin centrar verticalmente los ojos */

  bottom:0;

}

.shoes > .right-shoe {
     width: 200px;
     height: 100px;
     border: 2px solid #555;
     background: #5cb85c;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 50px 100px 0 0;
     position:relative;
     left: 225px;
     bottom: -200px;
     z-index: 1;
}

.shoes > .left-shoe {
     width: 200px;
     height: 100px;
     border: 2px solid #555;
     background: #5cb85c;
     -moz-border-radius: 100px 100px 0 0;
     -webkit-border-radius: 100px 100px 0 0;
     border-radius: 100px 50px 0 0;
     position:relative;
     left: -90px;
     bottom: -100px;
     z-index: 1;
}
